/* Global styles */

$darkColorText: rgb(88, 94, 110);
$darkColor: rgba(19, 20, 22, 0.548);
$darkColorOpaque: rgba(19, 20, 22, 0.8);
$lightColor: white;
$fullColor: rgba(51, 117, 68, 0.76);
$lowColor: rgba(250, 241, 110, 0.74);
$redColor:rgba(201, 91, 91, 0.712);

$shoppersColor: rgba(247, 244, 107, 0.9);
$marketColor: rgba(72, 207, 115, 0.9);
$butcherColor: rgba(247, 78, 78, 0.9);
$bulkColor: rgb(247, 144, 65);

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .1rem;
    
    background-image: url('https://images.unsplash.com/photo-1488459716781-31db52582fe9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d060132f422f18d7fd59c4b5d0eb8e06&auto=format&fit=crop&w=1500&q=80');
    // Photo by ja ma on Unsplash
    background-position: top;
    color: darken($darkColorText, 20);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    background: lighten($darkColor, 10);
    padding: 20px;
    margin: 10px;
    width: 30%;
}


ul {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;

    button {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
    }

    li {
        margin-bottom: 20px;
        list-style-type: none;
        text-transform: capitalize;
        font-size: 1.2rem;

        p {
            margin: 0;
        }
    }
}

.roundedCorners {
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button:last-child {
        background: lighten($darkColor, 10);
    }
}

.addItemBtn, .instructionsBtn {
    margin: 20px;
    text-transform: uppercase;
    background: $darkColorOpaque;
}

button.grocList, button.pantry {
    font-size: 2.5rem;
    width: 100%;
    max-width: 350px;
    text-transform: uppercase;
    min-height: 150px;
}

button {
    padding: 20px 30px;
    background: darken($darkColor, 10);
    color: $lightColor;
    border-radius: 10px;
    letter-spacing: .1rem;
}

.hidden {
    display: none;
}

/* Add Item styles */

.addItem .modal {
    padding: 50px 20%;
    background: rgba(19, 20, 22, 0.9);
}

div.groceryApp, form  {
    display: flex;
    justify-content: center;
}

form {
    flex-direction: column;
    padding: 0 20px;
}

form input {
    max-width: 300px;
    margin-bottom: 20px;
    padding: 5px;
}

form div {
    background: $lightColor;
}

div.textInputs {
    background: lighten($darkColor, 10);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 0 20px 0;

    input {
        border: 2px solid lighten($darkColor, 20);
        width: 100%;
        margin: 0;
        padding: 5px;
    }
}

.radio {
    background: lighten($darkColor, 10);
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    min-height: 125px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.1rem;
}

.radioInput {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    border: 2px solid lighten($darkColor, 10);
    
    input {
        margin: 0 0 15px 0;
        align-self: center;
    }

    label {
        margin: 8px;
        text-transform: capitalize;
    }
}

span {
    color: darken($lightColor, 20);
    margin-left: 10px;
}

/*  Instructions styles */

.instructions h2 {   
    text-transform: uppercase;
}

.instructionsList { 
    background: $darkColorOpaque;
    padding: 20px 20px 20px 40px;
    color: $lightColor;
    border: 1px solid $lightColor;;
}

button[type="submit"] {
    margin-bottom: 20px;
}

.modal {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: $darkColorOpaque;
}

footer {
    text-align: center;
    background: $darkColor;
    color: darken($lightColor, 20);
    
    span {
        color: $lightColor;
    }
}