/* Global styles */

// $darkColorText: rgb(31, 77, 194);
// $darkColor: rgba(31, 77, 194, 0.85);
$darkColorText: rgb(88, 94, 110);
$darkColor: rgba(111, 115, 128, 0.548);
$lightColor: white;
// $fullColor: rgb(51, 117, 51);
$fullColor: rgb(51, 117, 68);
// $lowColor: rgb(239, 239, 117);
$lowColor: rgb(250, 241, 110);
$redColor:rgb(201, 91, 91);

// $shoppersColor: rgba(226, 211, 255, 0.507);
// $marketColor: rgba(200, 250, 232, 0.514);
// $butcherColor: rgba(211, 245, 255, 0.514);
// $bulkColor: rgba(248, 227, 193, 0.534);

$shoppersColor: rgba(245, 200, 225, 0.9);
$marketColor: rgba(170, 151, 221, 0.9);
$butcherColor: rgba(165, 229, 238, 0.9);
$bulkColor: rgb(240, 194, 157);

// $shoppersColor: rgb(225, 209, 248);
// $marketColor: rgb(182, 247, 225);
// $butcherColor: rgb(182, 230, 247);

html {
    // background: darken($darkColor, 20);
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    // background-image: url('http://weclipart.com/gimg/7F8CCA780CC15D89/pantry-clipart-Ride8zyi9.jpeg');
    // Photo by ja ma on Unsplash
    background-image: url('https://images.unsplash.com/photo-1488459716781-31db52582fe9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d060132f422f18d7fd59c4b5d0eb8e06&auto=format&fit=crop&w=1500&q=80');
    background-position: top;
    // background-repeat: no-repeat;
    // background-size: 200vh;
    color: darken($darkColorText, 20);
    min-height: 100vh;
}

section {
    // min-height: 100vh;
    background: lighten($darkColor, 10);
    border: 5px solid $darkColor;
    padding: 20px;
    min-width: 33%;
    flex-shrink: 1;
    margin: 10px;
}


ul {
    font-family: 'Satisfy', cursive;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    // background: yellow;
    button {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
    }
    li {
        margin-bottom: 20px;
        list-style-type: none;
        font-size: 1.2rem;
        p {
            margin-bottom: 0;
        }
    }
}

div.groceryApp, form  {
    display: flex;
    justify-content: center;
}

form {
    flex-direction: column;
}

form input {
    max-width: 300px;
    margin-bottom: 20px;
    padding: 5px;
}

form div {
    background: $lightColor;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button:last-child {
        background: lighten($darkColor, 10);
    }
}

.addItemBtn, .instructionsBtn {
    margin: 20px;
    text-transform: uppercase;
}

button.grocList, button.pantry {
    font-size: 2.5rem;
    // padding: 20px;
    width: 100%;
    max-width: 350px;
    text-transform: uppercase;
}

button {
    padding: 20px 30px;
    background: darken($darkColor, 10);
    color: $lightColor;
    border-radius: 10px;
}

.hidden {
    display: none;
}

/* add Item styles */

.textInputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;
    input {
        border: 2px solid $darkColor;
        width: 100%;
        margin: 0;
        padding: 5px;
    }
}

.radio {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    min-height: 125px;
    flex-wrap: wrap;
    background: lighten($darkColor, 20);
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.1rem;
}

.radioInput {
    min-width: 125px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 2px solid lighten($darkColor, 10);
    input {
        margin: 0;
        align-self: center;
    }
    label {
        margin-right: 8px;
        text-transform: capitalize;
    }
}

.itemDesc {
    margin: 10px 0 20px 30px;
}

.addItem, 
.instructions {
    // min-width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    // padding: 20px;
    background: $darkColor;
    
}

.instructions {
    left: 0;
    z-index: 2;
}
.addItem {
    right: 0;
}

.instructionsList { 
    background: $darkColor;
    padding: 20px 20px 20px 40px;
    color: white;
    border: 1px solid white;

}

button[type="submit"] {
    margin-bottom: 20px;
}

.modal {
    width: 100%;
    height: calc(100vh - 120px);
}

