/* Global styles */

// $darkColorText: rgb(31, 77, 194);
// $darkColor: rgba(31, 77, 194, 0.85);
$darkColorText: rgb(88, 94, 110);
// $darkColor: rgba(111, 115, 128, 0.548);
$darkColor: rgba(19, 20, 22, 0.548);
$darkColorOpaque: rgba(19, 20, 22, 0.8);
// $darkColorOpaque: rgba(19, 20, 22, 0.9);
$lightColor: white;
// $fullColor: rgb(51, 117, 51);
// $lowColor: rgb(239, 239, 117);
$fullColor: rgba(51, 117, 68, 0.76);
$lowColor: rgba(250, 241, 110, 0.74);
$redColor:rgba(201, 91, 91, 0.712);

// $shoppersColor: rgba(226, 211, 255, 0.507);
// $marketColor: rgba(200, 250, 232, 0.514);
// $butcherColor: rgba(211, 245, 255, 0.514);
// $bulkColor: rgba(248, 227, 193, 0.534);

$shoppersColor: rgba(247, 244, 107, 0.9);
$marketColor: rgba(72, 207, 115, 0.9);
$butcherColor: rgba(247, 78, 78, 0.9);
$bulkColor: rgb(247, 144, 65);

// $shoppersColor: white;
// $marketColor: white;
// $butcherColor: white;
// $bulkColor: white;
// $shoppersColor:rgba(19, 20, 22, 0.8);
// $marketColor: rgba(19, 20, 22, 0.8);
// $butcherColor: rgba(19, 20, 22, 0.8);
// $bulkColor: rgba(19, 20, 22, 0.8);

// $shoppersColor: rgb(225, 209, 248);
// $marketColor: rgb(182, 247, 225);
// $butcherColor: rgb(182, 230, 247);

// html {
//     // background: darken($darkColor, 20);
// }

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .1rem;
    // background-image: url('http://weclipart.com/gimg/7F8CCA780CC15D89/pantry-clipart-Ride8zyi9.jpeg');
    // background-repeat: no-repeat;
    // background-size: 200vh;
    
    background-image: url('https://images.unsplash.com/photo-1488459716781-31db52582fe9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d060132f422f18d7fd59c4b5d0eb8e06&auto=format&fit=crop&w=1500&q=80');
    // Photo by ja ma on Unsplash
    background-position: top;
    color: darken($darkColorText, 20);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// div.groceryApp {
//     min-height: 100vh;
// }

section {
    background: lighten($darkColor, 10);
    border: 5px solid $darkColor;
    padding: 20px;
    margin: 10px;
    width: 30%;
}


ul {
    // font-family: 'Satisfy', cursive;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    button {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
    }
    li {
        margin-bottom: 20px;
        list-style-type: none;
        text-transform: capitalize;
        font-size: 1.2rem;
        

        p {
            margin: 0;
        }

        
    }
}

.roundedCorners {
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button:last-child {
        background: lighten($darkColor, 10);
    }
}

.addItemBtn, .instructionsBtn {
    margin: 20px;
    text-transform: uppercase;
    background: $darkColorOpaque;
}

button.grocList, button.pantry {
    font-size: 2.5rem;
    // padding: 20px;
    width: 100%;
    max-width: 350px;
    text-transform: uppercase;
    min-height: 150px;
}

button {
    padding: 20px 30px;
    background: darken($darkColor, 10);
    color: $lightColor;
    border-radius: 10px;
    letter-spacing: .1rem;
}

.hidden {
    display: none;
}

/* Add Item styles */

.addItem .modal {
    padding: 50px 20%;
    background: rgba(19, 20, 22, 0.9);
}

div.groceryApp, form  {
    display: flex;
    justify-content: center;
}

form {
    flex-direction: column;
    // background: $darkColorOpaque;
}

form input {
    max-width: 300px;
    margin-bottom: 20px;
    padding: 5px;
}

form div {
    background: $lightColor;
}

.textInputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;

    input {
        border: 2px solid $darkColor;
        width: 100%;
        margin: 0;
        padding: 5px;
    }
}

.radio {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    min-height: 125px;
    flex-wrap: wrap;
    // background: lighten($darkColor, 20);
    // background: $darkColor;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.1rem;
}

.radioInput {
    min-width: 125px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 2px solid lighten($darkColor, 10);
    input {
        margin: 0;
        align-self: center;
    }
    label {
        margin-right: 8px;
        text-transform: capitalize;
    }
}

span {
    color: darken($lightColor, 20);
    margin-left: 10px;

    // &.itemDesc {
    //     margin-left: 7px;
    // }
}

/*  Instructions styles */

.instructions h2 {   
    text-transform: uppercase;
}

.instructionsList { 
    background: $darkColorOpaque;
    padding: 20px 20px 20px 40px;
    color: $lightColor;
    border: 1px solid $lightColor;;
}

button[type="submit"] {
    margin-bottom: 20px;
}

.modal {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: $darkColorOpaque;
}

footer {
    text-align: center;
    background: $darkColor;
    color: darken($lightColor, 20);
    span {
        color: $lightColor;
    }
}