/* grocery list styles */

.groc {
    background: lighten($darkColor, 20);
    padding: 20px 20px 0 20px;
    li {
        height: 115px;
        margin-bottom: 20px;
    }
}

input[type="checkbox"] {
    margin: 25px 10px 0 0;
    padding: 10px;
}

.butcher {
    order: 1;
    background: $butcherColor;
}

.market {
    order: 3;
    background: $marketColor;
}

.bulk {
    order: 0;
    background: $bulkColor;
}

.shoppers {
    order: 2;
    background: $shoppersColor;
}

.empty {
    // border: 3px solid rgb(247, 120, 46);
    border: 3px solid $redColor;
}