/* Grocery list styles */

.groc {
    background: lighten($darkColor, 20);
    padding: 20px 20px 0 20px;

    li {
        margin-bottom: 20px;
        color: $lightColor;
        background: $darkColorOpaque;
        padding: 15px;
    }
}

span.itemLoc {
    text-transform: capitalize;
}

input[type="checkbox"] {
    margin: 0px 10px 10px 5px;
}

.butcher, .Butcher {
    order: 4;
    color: $butcherColor
}

.market, .Market {
    order: 3;
    color: $marketColor;
}

.bulk, .Bulk {
    order: 1;
    color: $bulkColor;
}

.shoppers, .Shoppers {
    order: 2;
    color: $shoppersColor;
}

.empty {
    border: 3px solid $redColor;
    order: 0;
}