/* Grocery list styles */

.groc {
    background: lighten($darkColor, 20);
    padding: 20px 20px 0 20px;

    li {
        margin-bottom: 20px;
        color: $lightColor;
        background: $darkColorOpaque;
        padding: 15px;
        
    }
}

input[type="checkbox"] {
    margin: 0px 10px 10px 5px;
}

.butcher {
    order: 4;
    // background: $butcherColor;
    color: $butcherColor
}

.market {
    order: 3;
    // background: $marketColor;
    color: $marketColor;
}

.bulk {
    order: 1;
    // background: $bulkColor;
    color: $bulkColor;
}

.shoppers {
    order: 2;
    // background: $shoppersColor;
    color: $shoppersColor;
}

.empty {
    border: 3px solid $redColor;
    order: 0;
}