/* pantry styles */

.pantry {

    div.roundedCorners {
        padding: 15px;
        width: 100%;
    }
}


.pantryUl, ul.groc, .textInputs {
    background: $darkColor;
}

.pantryUl button {
    text-transform: uppercase;
}

.low {
    border: 2px solid $lowColor;
    
}

.lowOrder {
    order: 1;
}

.full {
    border: 2px solid lighten($fullColor, 10);
}

.low, .full, .empty {
    color: $lightColor;
    background: $darkColorOpaque;
}

