/* Global styles */
$darkColor: darkolivegreen;
// $darkColor: blue;
$lightColor: white;

body {
    font-family: 'Open Sans', sans-serif;
    // background: darken(darkolivegreen, 10);
    background: $darkColor;
}

ul {
    font-family: 'Satisfy', cursive;
    display: flex;
    flex-direction: column;
    button {
        font-family: 'Open Sans', sans-serif;
    }
    li {
        margin: 10px 0;
        padding: 5px;
    }
}

div.mainApp, form  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#app {
    margin: 20px;
}

form input {
    max-width: 300px;
    margin: 20px 0;
}

.row {
    // display: flex;
    flex-direction: row;
}

form div {
    border: 2px solid lighten($darkColor, 10);
    background: white;
}

button.addItem, button.grocList, button.pantry {
    font-size: 2.5rem;
    // background: darkolivegreen;
    // background: darken($darkColor, 10);
    // color: $lightColor;
    // margin: 20px;
    padding: 20px;
}

button {
    // background: darkolivegreen;
    background: darken($darkColor, 10);
    color: $lightColor;
}

section {
   background: lighten($darkColor, 10);
   border: 5px solid $darkColor;
   padding: 20px;
}

.status {
    background: yellowgreen;
}

.groc {
    list-style-type: none;
    background: lighten($darkColor, 40);
    padding: 20px;
}

.pantryUl {
    background: lighten($darkColor, 40);
    padding: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.low {
    border: 2px solid yellow;
    order: 3;
}

.empty {
    border: 2px solid red;
}

.full {
    border: 2px solid green;
}

.butcher {
    order: 2;
    // background: rgb(105, 206, 245);
    // background: rgb(182, 229, 247);
    background: rgba(182, 230, 247, 0.747);
}

.market {
    order: 0;
    // background: rgb(159, 250, 242);
    // background: rgb(182, 247, 240);
    background: rgba(182, 247, 240, 0.658);
}

.shoppers {
    order: 1;
    // background: rgb(214, 191, 247);
    // background: rgb(225, 209, 248);
    background: rgba(225, 209, 248, 0.623);
}

