/* Global styles */

$darkColorText: rgb(31, 77, 194);
$darkColor: rgba(31, 77, 194, 0.85);
$lightColor: white;
$fullColor: rgb(51, 117, 51);
$lowColor: hsl(60, 80%, 70%);
$shoppersColor: rgb(225, 209, 248);
$marketColor: rgb(182, 247, 225);
$butcherColor: rgb(182, 230, 247);

html {
    background: darken($darkColor, 20);
}
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-image: url('http://weclipart.com/gimg/7F8CCA780CC15D89/pantry-clipart-Ride8zyi9.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 200vh;
    color: darken($darkColorText, 20);
    min-height: 100vh;
}

section {
    min-height: 100vh;
}

ul {
    font-family: 'Satisfy', cursive;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    background: yellow;
    button {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
    }
    li {
        margin-bottom: 20px;
        list-style-type: none;
        font-size: 1.2rem;
        p {
            margin-bottom: 0;
        }
    }
}

div.mainApp, form  {
    display: flex;
    justify-content: center;
}

form {
    flex-direction: column;
}

form input {
    max-width: 300px;
    margin-bottom: 20px;
    padding: 5px;
}

form div {
    background: $lightColor;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button:last-child {
        background: lighten($darkColor, 10);
    }
}

button.addItem, button.grocList, button.pantry {
    font-size: 2.5rem;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

button {
    background: darken($darkColor, 10);
    color: $lightColor;
}

section {
    background: lighten($darkColor, 10);
    border: 5px solid $darkColor;
    padding: 20px;
    min-width: 33.3%;
    flex-shrink: 1;
}

.status {
    background: yellowgreen;
}

.groc {
    background: lighten($darkColor, 20);
    padding: 20px 20px 0 20px;
    li {
        height: 115px;
        margin-bottom: 20px;
    }
}

.pantryUl, .textInputs {
    background: lighten($darkColor, 20);
}

.textInputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;
    input {
        border: 2px solid $darkColor;
        width: 100%;
        margin: 0;
        padding: 5px;
    }
}

input[type="checkbox"] {
    margin-right: 10px;
}

.low {
    border: 2px solid $lowColor;
    background: lighten($lowColor, 20);
}

.lowOrder {
    order: 1;
}

.full {
    border: 2px solid lighten($fullColor, 10);
    background: lighten($fullColor, 40);
}

.low, .full, .empty {
    padding-left: 20px;
}

.empty {
    border: 3px solid rgb(247, 120, 46);
}

.butcher {
    order: 1;
    background: $butcherColor;
}

.market {
    order: 3;
    background: $marketColor;
}

.bulk {
    order: 0;
    background: rgb(248, 227, 193);
}

.shoppers {
    order: 2;
    background: $shoppersColor;
}

.radio {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    min-height: 125px;
    flex-wrap: wrap;
    background: lighten($darkColor, 20);
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.1rem;
}

.radioInput {
    min-width: 125px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 2px solid lighten($darkColor, 10);
    input {
        margin: 0;
        align-self: center;
    }
    label {
        margin-right: 8px;
    }
}

.itemDesc {
    margin: 10px 0 20px 30px;
}

.hidden {
    display: none;
}